*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

div{
    font-family: 'Lato',;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #262930;
    position:absolute;
    width: 97rem;
    height: 103px;

}
.navbar li{
    float: right;
    list-style: none;
}
.navbar ul{
    overflow: auto;
}
.logo{
    font-size: 42px;
    font-weight: 700;
    left: 35px;
    width: 309px;
    height: 105px;
    font-family : lato;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.menu{
    display: flex;
    font-size:18px ;
    font-weight: 400px;
    justify-content: space-between;
    padding: 55px;
}

.menu a{
    color:#fff;
/* margin: 0 -5px; */
/* justify-content: space-around; */
justify-content: space-around;
padding: 25px;
font-family: 'Lato';
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.button{
    background-color: #FA7A12;
    color:#fff;
}
.textbutton{
    background-color: #FA7A12;
}

