* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #262930;
    /* position:absolute; */
    width: 97rem;
    height: 103px;

}

.navbar li {
    float: right;
    list-style: none;
}

.navbar ul {
    overflow: auto;
}

.logo {
    font-size: 42px;
    font-weight: 700;
    left: 35px;
    width: 309px;
    height: 105px;
    /* font-family : lato; */
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.menu {
    display: flex;
    font-size: 18px;
    font-weight: 400px;
    justify-content: space-between;
    padding: 55px;
    line-height: 50px;
}

.menu a {
    color: #fff;
    /* margin: 0 -5px; */
    /* justify-content: space-around; */
    justify-content: space-around;
    padding: 25px;
    font-family: 'Lato';
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: #FA7A12;
    color: #fff;
}

.textbuton {
    background-color: #FA7A12;
}

#donateButton {
    width: 120px;
    height: 50px;
    background-color: #FA7A12;
    border-radius: 5px;
    text-align: center;
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: bold;
}

/* ---------------------------------------Rectangle 2-------------------------- */
.Box {
    display: flex;
    flex-direction: row;
    background-color: #FEE4D0;
    width: 100%;
    height: 700px;
    margin: auto;
}

.left {
    padding-left: 73px;
    padding-top: 174px;
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-style: normal;
}

.left h1 {
    font-weight: 700;
    font-size: 64px;
    font-style: normal;
    font-family: 'Arvo';
    color: #2C2B2B;
}

#para {
    font-size: 26px;
    color: #302F2F;
}

.right {
    margin-left: auto;
}

#money {
    position: absolute;
    width: 29rem;
    height: 32.125rem;
    left: 64rem;
    top: 12rem;

}

.donateButtonn {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}

.rec1 li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#openDon{
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    font-family: 'Arvo';
    font-weight: 700;
    font-style: normal;
    color: #2C2B2B;
}

.Dbox{
    padding-left: 1px;
    padding-top: 60px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border-style: groove;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#title{
    font-family: 'Arvo';
    font-weight: 700;
    font-size: 20px;
}
